
importFrom("utils", "read.table")
importFrom("tcltk", "tk_choose.dir", "tk_choose.files")
importFrom("plyr", "alply", "adply")
importFrom("grDevices", "rainbow")
importFrom("manipulate", "manipulate", "slider")
importFrom("graphics", "abline", "frame", "par", "plot", "points", "image")
importFrom("readr", "read_fwf", "fwf_widths", "cols")
importFrom("stringi", "stri_trim_both", "stri_replace", "stri_trans_tolower")
importFrom("ggplot2", "ggplot")
